.activity {
  margin: 30px auto;
  width: 342px;
  box-shadow: 0 10px 30px #e5e5e5;
  border-radius: 15px;
  padding: 30px 20px 20px;
}

.activityHeader {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 35px;
  color: #1c1c1e;
}

.activityWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.activityItem {
  display: flex;
  gap: 10px;
}

.activityImageWrapper {
  width: 40px;
  height: 40px;
}

.activityPhoto {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.activityProfiles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activityName {
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 600;
  color: #1c1c1e;
}

.activityDate {
  font-size: 12px;
  color: #aeaeb2;
}

.activitySumm {
  margin-left: auto;
  font-size: 14px;
}

.green {
  color: #34c759;
}

.red {
  color: #ff3b30;
}
