.profile-wrapper {
 max-width: 360px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 background: #ffffff;
 padding: 20px ;
 border-radius: 20px
}

.avatar {
 border-radius: 50%;
 margin-right: 15px;
}

.profile-name {
 font-size: 15px;
 line-height: 20px;
 color: #1C1C1E;
}

.subsription {
 background-color: #5856D6;
 color: #ffffff;
 margin-left: 5px;
 border-radius: 10px;
 padding: 2px 8px;
 font-size: 12px;
}

.date {
 color: #8E8E93;
 font-size: 13px;
 font-weight: 400;
}