.notification-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 20px 20px;
  gap: 30px;

  position: absolute;
  width: 360px;
  height: 476px;
  left: 102px;
  top: 226px;

  background: #ffffff;
  border-radius: 15px;
  border: 1px solid #5856d6;
  /* box-shadow: 10px 10px 73px 15px rgba(25, 23, 112, 0.27);  */
}
.notification-container::after {
  content: '';
  position: absolute;
  width: 410px;
  height: 512px;
  left: 62px;
  top: 128px;
  background: rgba(25, 23, 112, 0.27);
  filter: blur(73px);
  border-radius: 100px;
  z-index: -1;
}

.notification-title {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.notification-title-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
}

.notification-title-text span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 19px;
  height: 19px;

  background: #5856d6;
  border-radius: 50%;

  font-weight: 600;
  font-size: 12px;
  line-height: -15px;
  color: white;
}

.notification-title-text p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #1c1c1e;
}

.notification-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  width: 100%;
  height: 280px;
}

.notification-list ul {
    width: 100%;
  }

.notification-list li {
  list-style: none;
}

.notification-subscription-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 12px;
  gap: 10px;

  width: 100%;
  height: 64px;

  background: #5856d6;
  border-radius: 10px;
}

.notification-subscription {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 15px;
}

.notification-subscription > span {
  width: 40px;
  height: 40px;
  background: #7d7aff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notification-sub-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
}
.notification-sub-text span {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;

  color: white;
}

.notification-sub-text p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #d1d1d6;
}
