* {
  font-family: 'Inter';
  font-style: normal;
}
p,
span,
.btn {
  color: #fff;
  line-height: 1.2;
}

.referral {
  width: 275px;
  margin: 50px auto;
  background-image: radial-gradient(ellipse at bottom, #7d7aff, #5856d6);
  padding: 60px 54px;
  border-radius: 15px;
}
.referralCodeWrapper {
  margin-bottom: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.referralCodeBarre {
  width: 165px;
}
.referralNum {
  font-weight: 500;
  font-size: 13.9157px;
  letter-spacing: 10px;
  margin-top: -3px;
  transform: translateX(6px);
}
.referralPersonal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}
.referralBar {
  height: 1px;
  width: 100%;
  background-color: #7d7aff;
  margin: 4px auto;
}
.referralPersonalText {
  font-weight: 300;
  font-size: 15px;
  margin-bottom: 8px;
}
.referralPersonalNum {
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 0.2em;
}
.referralBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  background-color: transparent;
  padding: 0;
  font-weight: 400;
  font-size: 10px;
  transition: all 0.3 ease-in-out;
}
.btn:hover {
  font-weight: 600;
}
.btn:active {
  transform: scale(0.9);
}
